/* impostazioni generali */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(
        to bottom,
        #2f9688 0%,
        #2f9688 15%,
        #d9dbd5 15%,
        #d9dbd5 100%
    );
}

.time_info {
    color: #b6b9bb;
    font-size: 10px; 
}

.scroll {
    overflow-y: auto;
    scrollbar-color: #aaaaaa transparent;
    scrollbar-width: thin;
}

.fas {
    color: #b1b1b1;
    font-size: 20px;
}

/* container web app */
.container {
    width: 80%;
    margin: 5vh auto;
    height: 90vh;
    display: flex;
}

/* parte alta della web app */
aside .user,
.active_chat .chat_header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #eaeaea;
}

aside .user nav,
aside .user .user_info,
.active_chat .chat_header nav,
.active_chat .chat_header .chat_info {
    display: flex;
    align-items: center;
}

aside .user nav a,
.active_chat .chat_header nav a {
    margin: 0 10px;
}


/* impostazioni avatar */
.avatar_pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* menu laterale */
aside {
    width: 30%;
    background-color: white;
    border-right: 1px solid #d6d6d6;
    display: flex;
    flex-direction: column;
}

aside .alert_settings {
    background-color: #98dbfd;
    padding: 10px;
    display: flex;
    align-items: center;
}

aside .alert_settings .fas {
    color: #98dbfd;
    background-color: white;
    font-size: 20px;
    border-radius: 50%;
    padding: 9px 7px;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

aside .alert_settings a {
    color: #547486;

}

aside .search {
    padding: 5px;
    position: relative;
    background-color: #fafafa;
}

aside .search .fas {
    position: absolute;
    top: 13px;
    left: 25px;
    font-size: 15px;
}

aside .search input {
    padding: 5px 0;
    padding-left: 60px;
    width: 100%;
    border: 1px solid #f5f5f5;
    
}

aside .search input::placeholder {
    color: #d8d9da;
}

aside .chat_list {
    height: 100%;
    flex-grow: 1;
}

aside .chat_list li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #f5f5f5;
}

/* sezione chat attiva */
.active_chat {
    width: 70%;
    background-image: url(../img/chat_background.png);
    display: flex;
    flex-direction: column;
}

.active_chat .chat {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    flex-grow: 1;
}

/* messaggi */
.active_chat .chat .msg {
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    padding-bottom: 18px;
    font-size: 15px;
    background-color: white;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}

.active_chat .chat .msg.sent {
    background-color: #d8f9b7;
    align-self: flex-end;
}

.active_chat .chat .msg .time_info {
    position: absolute;
    bottom: 4px;
    right: 4px;
}


/* input chat */
.active_chat .chat_inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2eee9;
    padding: 10px 0;
}

.active_chat .chat_inputs .new_msg {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.active_chat .chat_inputs .far,
.active_chat .chat_inputs .fas {
    color: #6b7377;
    font-size: 22px;
}

.active_chat .chat_inputs a {
    margin: 0 20px;
}